@-ms-viewport{
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ffffff;
  font-family: "Open Sans";
  color: #242323;
}

/*header*/

header {
  background-color: #242323;
  width: 100%;
  height: 95px;
}

#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}

#logo {
  margin-top: 3px;
  float: left;
  width: 200px;
  height: 90px;
  background: url(img/RR_logo_short.png) no-repeat center;
}

/*mobile menu icon*/

#menu-icon {
  display: hidden;
  width: 50px;
  height: 50px;
  background: url(img/nav1.png) center no-repeat;
}

a:hover#menu-icon {
  border-radius: 4px 4px 0 0;
}

/*navigation*/

nav {
  float: right;
  padding: 25px 25px 0 0;
}

ul {
  list-style-type: none;
}

nav ul li {
  font-size: 140%;
  display: inline-block;
  float: left;
  padding: 15px;
  font-weight: 300;
}

nav ul li a {
  color: #fafafa;
  text-decoration: none;
}

nav ul li a:hover {
  color: #929292;
}

.current {
  color: #929292;
}

/*slides*/
.section-slides {
  width: 1300px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
}
.slides {
  height: 100%;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.slides li{
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
.slides li img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  filter: grayscale(50%);
}
.slides li img:hover  {
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
  filter: grayscale(0);
}

.slides li a {
  text-decoration: none;
}

.img2 {
  display: none;
}

/*body text*/

article {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #242323;
}

h3  {
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 50px;
}

#bold{
  font-weight: 700;
}

.description {
  font-size: 18px;
  text-align: justify;
  padding-bottom: 10px;
  padding-top: 10px;
}


/*companies logos*/
.section-logos {
  width: 900px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.comp-logos {
  height: 100%;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.comp-logos li{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.comp-logos li img {
  filter: grayscale(60%);
}

.comp-logos li img:hover {
  filter: grayscale(0);
}



/*footer*/
footer {
background-color: #383838;
margin: 0;
}

.copyright {
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 5px 0 5px 0;
}

/*MEDIA*/

@media screen and (max-width: 1200px) {
  .section-slides {
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
  }

  .img1 {
    display: none;
  }

  .img2 {
    display: inline;
  }


}

@media screen and (max-width: 900px) {

  h3 {
    font-size: 125%;
    width: 100%;
    margin-top: 30px;
  }

  p {
    font-size: 120%;
    width: 100%;
  }

  #logo {
    margin: 3px 0 0 0;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 20px;
  }

  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px 20px 20px 0px;
    background: #242323;
    right: 0.1px;
    top: 94px;
    text-align: center;
  }
  nav:hover ul {
    display: block;
  }
  nav li {
    text-align: center;
    width: 100%;

  }

  .text{
    width: 95%;
  }

  .section-logos {
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .comp-logos li {
    display: block;
  }

  .comp-logos li img {
    margin-top: 5px;
    margin-bottom: 5px;
  }

}

@media screen and (max-width: 450px) {
  .img2 {
    display: inline;
    width: 140px;
  }

  .comp-logos li {
    display: inline;
    margin: 5px;
  }
  .comp-logos li img {
    width: 110px;
  }
}
